body{
  max-width: 1360px;
  width: 100%;
  min-height: 3840px;
  height: 100%;
  margin: 0px auto;
}
.grid_container_header{
  display: grid;
  grid-template-columns: 635px 475px;
  grid-template-rows: 23px 1960px;
  padding-top: 61px;
  padding-bottom: 47px;
  padding-left: 125px;
  padding-right: 125px;
  width:1109px;
  height: 369px;
}
.grid_child1{
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 23px 347px;
}
.navbar{
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 23px;
}
.top_logo{
  margin: 0px;
  grid-column:1/2;
  grid-row: 1/2;
  width: 90.13px;
  height: 19.34px;
}
.top_ul_home{
  grid-column:2/3;
  grid-row: 1/2;
  display: flex;
  justify-self: end;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.link_top_projects , .link_top_contact{
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #111111;
  text-decoration: none;
}
.link_top_projects{
  margin-right: 29px;
}
.info_box{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
gap: 32px;
width: 635px;
height: 251px;
align-self: flex-end;
}
.title_header{
  grid-column: 1/-1;
  grid-row: 1/2;
  color: #4A4FF2;
  width: 173px;
  margin: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.42px;
}
.h1{
  grid-column: 1/-1;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  width: 635px;
  height: 191px;
  margin: 0px;
}
.span1{
  color: #4A4FF2;
}
.quote_box{
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  align-self: flex-end;
  margin-right: 73px;
}
.quote_hr{
  width: 30px;
  height: 2px;
  color: #111111;
  margin: 0px;
}
.quote_text{
  width: 207px;
  height: 23px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: italic;
}
.grid_contanier1_main{
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  width: 1110px;
  height: 1960px;
  padding: 144px 125px 125px;
  gap: 20px;
}
.nested_items1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-column: 1/2;
  grid-row: 1/-1;
  gap: 20px;
}
.nested_items2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-column: 2/3;
  grid-row: 1/-1;
  gap: 20px;
}
.nested_items3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-column: 3/4;
  grid-row: 1/-1;
  gap: 20px;
}
.grid_contanier2_main{
  display: grid;
  grid-template-columns: 635px 444px;
  grid-template-rows: 1fr;
  width: 1079px;
  height: 106px;
  padding: 91px 125px 125px;
}
.info_box_main{
  grid-column: 1/2;
  grid-row: 1/2;
}
.title_main{
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #111111;
  width: 635px;
  height: 106px;
  margin: 0px;
}
.ul_main_box{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 70px;
  justify-self: end;
}
.ul_service1{
  grid-column: 1/2;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.ul_service2{
  grid-column: 2/3;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.Multimedia_li{
  width: 93px;
  height: 23px;
  margin-top: 10px;
}
.Interactive_li{
  margin-top: 10px;
  width: 150px;
  height: 23px;
}
.Branding_li{
  margin-top: 10px;
  width: 77px;
  height: 23px;
}
.Multimedia_a , .Interactive_a , .Branding_a  , .creative_a , .Packaging_a , .Coding_a{
  text-decoration: none;
  color: #111111;
}
.creative_li{
 width: 129.3px;
 height: 23px;
 margin-top: 10px;
}
.Packaging_li{
  width: 88px;
  height: 28px;
  margin-top: 10px;
}
.Coding_li{
  width: 59px;
  height: 23px;
  margin-top: 10px;
}
