body{
  max-width: 1360px;
  width: 100%;
  min-height: 3840px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid_container_header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 23px 1960px;
  width:1109px;
  height:369px;
  margin: auto;
  gap: 96px;
}
.grid_child1{
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 23px;
}
.navbar{
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 23px;
}
.top_logo{
  margin: 0px;
  grid-column:1/2;
  grid-row: 1/2;
  width: 90.13px;
  height: 19.34px;
}
.top_ul_home{
  grid-column:2/3;
  grid-row: 1/2;
  display: flex;
  justify-self: end;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.link_top_projects , .link_top_contact{
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #111111;
  text-decoration: none;
}
.link_top_projects{
  margin-right: 29px;
}
.info_box{
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 251px;
}
.title_header{
  grid-column: 1/-1;
  grid-row: 1/2;
  color: #4A4FF2;
  width: 173px;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.42px;
}
.h1{
  grid-column: 1/-1;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  width: 635px;
  height: 191px;
  margin: 0px;
}
.span1{
  color: #4A4FF2;
}
.quote_box{
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr 2px 23px 23px;
  grid-column: 3/-1;
  grid-row: 1/3;
  gap: 9px;
}
span{
  margin: 0px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.quote_hr{
  width: 30px;
  height: 2px;
  color: #111111;
  margin: 0px;
}
.quote_text{
  width: 207px;
  height: 23px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: italic;
  grid-column: 2/3;
  grid-row: 3/4;
}
.grid_contanier1_main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1960px;
  width: 1110px;
  height: 1960px;
  margin: 0px auto;
  gap:20px;
}
.nested_items1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 413px 475px 475px 537px;
  grid-column: 1/2;
  grid-row: 1/-1;
  gap: 20px;
  height: 1960px;
}
.nested_items2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 351px 413px 537px 599px;
  grid-column: 2/3;
  grid-row: 1/-1;
  gap: 20px;
  height: 1960px;
}
.nested_items3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 599px 413px 537px 351px;
  grid-column: 3/4;
  grid-row: 1/-1;
  gap: 20px;
  height: 1960px;
}
.grid_contanier2_main{
  display: grid;
  grid-template-columns: 635px 444px;
  grid-template-rows: 1fr;
  width: 1079px;
  height: 106px;
  margin: 0px auto;
}
.info_box_main{
  grid-column: 1/2;
  grid-row: 1/2;
}
.title_main{
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #111111;
  width: 635px;
  height: 106px;
  margin: 0px;
}
.ul_main_box{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 70px;
  justify-self: end;
}
.ul_service1{
  grid-column: 1/2;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.ul_service2{
  grid-column: 2/3;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.Multimedia_li{
  width: 93px;
  height: 23px;
  margin-top: 10px;
}
.Interactive_li{
  margin-top: 10px;
  width: 150px;
  height: 23px;
}
.Branding_li{
  margin-top: 10px;
  width: 77px;
  height: 23px;
}
.Multimedia_a , .Interactive_a , .Branding_a  , .creative_a , .Packaging_a , .Coding_a{
  text-decoration: none;
  color: #111111;
}
.creative_li{
 width: 129.3px;
 height: 23px;
 margin-top: 10px;
}
.Packaging_li{
  width: 88px;
  height: 28px;
  margin-top: 10px;
}
.Coding_li{
  width: 59px;
  height: 23px;
  margin-top: 10px;
}
.grid_contanier3_awards{
  display: grid;
  grid-template-columns:474px 285px 311px 1fr;
  grid-template-rows: 40px 110px 1fr 1fr 1fr 1fr 1fr;
  background-color: red;
  width: 1110px;
  height: 823px;
  margin: auto;
}
.divider1{
  grid-column: 1/-1;
  grid-row: 1/2;
}
.first_awards{
  grid-column: 1/2;
  grid-row: 2/3;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.site_of_day{
  grid-column: 2/3;
  grid-row: 2/3;
}
.site_of_the_day_text{
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
p{
  margin: 0px;
}
hr{
  margin: 0px;
  color: #979797;
}
.nested_items4{
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  width: 190px;
  height: 110px;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.nested_item1_4{
  grid-column: 1/-1;
  grid-row: 1/2;
}
.nested_item2_4{
  grid-column: 1/-1;
  grid-row: 2/3;
}
.date_2028_1{
  grid-column: 4/5;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.Best_navigation{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100px;
  height: 100px;
}
.nested_items5{
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  width: 190px;
  height: 110px;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.nested_item1_5{
  grid-column: 1/-1;
  grid-row: 1/2;
}
.nested_item2_5{
  grid-column: 1/-1;
  grid-row: 2/3;
}
.date_2018_2{
  grid-column: 4/5;
  grid-row: 3/4;
}