body {
  max-width: 1360px;
  width: 100%;
  min-height: 3840px;
  height: 100%;
  margin: 0px auto;
}

.grid_container_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 635px 475px;
  grid-template-columns: 635px 475px;
  -ms-grid-rows: 23px 1960px;
  grid-template-rows: 23px 1960px;
  padding-top: 61px;
  padding-bottom: 47px;
  padding-left: 125px;
  padding-right: 125px;
  width: 1109px;
  height: 369px;
}

.grid_container_header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid_child1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 23px 347px;
  grid-template-rows: 23px 347px;
}

.grid_child1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_child1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid_child1 > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid_child1 > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.navbar {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 23px;
}

.navbar > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.navbar > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.top_logo {
  margin: 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 90.13px;
  height: 19.34px;
}

.top_ul_home {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link_top_projects, .link_top_contact {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #111111;
  text-decoration: none;
}

.link_top_projects {
  margin-right: 29px;
}

.info_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 32px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  width: 635px;
  height: 251px;
  align-self: flex-end;
}

.info_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.info_box > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.title_header {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #4A4FF2;
  width: 173px;
  margin: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.42px;
}

.h1 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  width: 635px;
  height: 191px;
  margin: 0px;
}

.span1 {
  color: #4A4FF2;
}

.quote_box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: end;
      justify-self: end;
  align-self: flex-end;
  margin-right: 73px;
}

.quote_hr {
  width: 30px;
  height: 2px;
  color: #111111;
  margin: 0px;
}

.quote_text {
  width: 207px;
  height: 23px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: italic;
}

.grid_contanier1_main {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: 1110px;
  height: 1960px;
  padding: 144px 125px 125px;
  gap: 20px;
}

.grid_contanier1_main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.nested_items1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 4fr;
  grid-template-rows: 4fr;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  gap: 20px;
}

.nested_items1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 4fr;
  grid-template-rows: 4fr;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 1/-1;
  gap: 20px;
}

.nested_items2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 4fr;
  grid-template-rows: 4fr;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: 1/-1;
  gap: 20px;
}

.nested_items3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier2_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 635px 444px;
  grid-template-columns: 635px 444px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: 1079px;
  height: 106px;
  padding: 91px 125px 125px;
}

.grid_contanier2_main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier2_main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.info_box_main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.title_main {
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #111111;
  width: 635px;
  height: 106px;
  margin: 0px;
}

.ul_main_box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 70px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.ul_main_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ul_main_box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ul_service1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.ul_service2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.Multimedia_li {
  width: 93px;
  height: 23px;
  margin-top: 10px;
}

.Interactive_li {
  margin-top: 10px;
  width: 150px;
  height: 23px;
}

.Branding_li {
  margin-top: 10px;
  width: 77px;
  height: 23px;
}

.Multimedia_a, .Interactive_a, .Branding_a, .creative_a, .Packaging_a, .Coding_a {
  text-decoration: none;
  color: #111111;
}

.creative_li {
  width: 129.3px;
  height: 23px;
  margin-top: 10px;
}

.Packaging_li {
  width: 88px;
  height: 28px;
  margin-top: 10px;
}

.Coding_li {
  width: 59px;
  height: 23px;
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */