body {
  max-width: 1360px;
  width: 100%;
  min-height: 3840px;
  height: 100vh;
  margin: auto;
}

p {
  margin: 0px;
}

hr {
  margin: 0px;
  color: #979797;
}

.grid_container_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[8];
  grid-template-rows: repeat(8, 1fr);
  max-width: 1109px;
  width: 100%;
  min-height: 431px;
  height: 100vh;
  margin: auto;
}

.grid_container_header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(21) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(22) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(24) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(26) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(27) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(28) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(29) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(30) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(31) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(32) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(33) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(34) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(35) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.grid_container_header > *:nth-child(36) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(37) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}

.grid_container_header > *:nth-child(38) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(39) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}

.grid_container_header > *:nth-child(40) {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
}
.grid_container_header .navbar {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.grid_container_header .navbar > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_container_header .navbar > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.grid_container_header .navbar > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid_container_header .navbar .top_logo {
  margin: 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 91px;
  height: 23px;
}
.grid_container_header .navbar .top_ul_home {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 10px 1fr 10px 3fr;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 10px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.grid_container_header .navbar .top_ul_home > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_container_header .navbar .top_ul_home > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid_container_header .navbar .top_ul_home > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.grid_container_header .navbar .top_ul_home .li_top1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid_container_header .navbar .top_ul_home .link_top_projects:hover {
  opacity: 0.35;
}
.grid_container_header .navbar .top_ul_home .link_top_projects:active {
  opacity: 0.15;
}
.grid_container_header .navbar .li_top2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid_container_header .navbar .li_top2 .link_top_contact:hover {
  opacity: 0.35;
}
.grid_container_header .navbar .li_top2 .link_top_contact:active {
  opacity: 0.25;
}

.title_header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  color: #4A4FF2;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.42px;
}

.h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0px;
  margin: 0px;
}
.h1 .span1 {
  color: #4A4FF2;
}

.quote_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
  grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: 5fr 1fr 1fr;
  grid-template-rows: 5fr 1fr 1fr;
  grid-column: 4/-1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.quote_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.quote_box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.quote_box > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.quote_box > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.quote_box > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.quote_box > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.quote_box > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.quote_box > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.quote_box > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.quote_box > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.quote_box > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.quote_box > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.quote_box > *:nth-child(15) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.quote_box > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.quote_box > *:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.quote_box > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.quote_box > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.quote_box > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.quote_box > *:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}

.quote_box > *:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.quote_box > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.quote_box > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.quote_box > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.quote_box > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.quote_box > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.quote_box > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.quote_box > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.quote_box > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.quote_box > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.quote_box > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}
.quote_box .quote_hr {
  color: #111111;
  margin: 0px;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.quote_box .quote_text {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: italic;
  grid-column: 5/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.link_top_projects, .link_top_contact {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.35px;
  /*or -6.3% */
  color: #111111;
  text-decoration: none;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.grid_contanier1_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(15, 1fr);
  width: 1110px;
  height: 3195px;
  margin: 0px auto;
  gap: 20px;
}

.grid_contanier1_main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(16) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(17) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(18) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(19) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(20) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(21) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(22) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(23) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(24) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(25) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(26) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(27) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(28) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(29) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(30) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(31) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(32) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(33) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(34) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(35) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(36) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(37) {
  -ms-grid-row: 25;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(38) {
  -ms-grid-row: 25;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(39) {
  -ms-grid-row: 25;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(40) {
  -ms-grid-row: 27;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(41) {
  -ms-grid-row: 27;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(42) {
  -ms-grid-row: 27;
  -ms-grid-column: 5;
}

.grid_contanier1_main > *:nth-child(43) {
  -ms-grid-row: 29;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(44) {
  -ms-grid-row: 29;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(45) {
  -ms-grid-row: 29;
  -ms-grid-column: 5;
}
.grid_contanier1_main .imges_div1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  gap: 20px;
}
.grid_contanier1_main .imges_div2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  gap: 20px;
}
.grid_contanier1_main .imges_div3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  gap: 20px;
}
.grid_contanier1_main .grid_contanier2_main {
  grid-column: 1/-1;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  margin: 0px auto;
}
.grid_contanier1_main .grid_contanier2_main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_contanier1_main .grid_contanier2_main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.grid_contanier1_main .grid_contanier2_main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid_contanier1_main .grid_contanier2_main > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid_contanier1_main .grid_contanier2_main > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.grid_contanier1_main .grid_contanier2_main > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.grid_contanier1_main .grid_contanier2_main .info_box_main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.grid_contanier1_main .grid_contanier2_main .title_main {
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #111111;
  width: 635px;
  height: 106px;
  margin: 0px;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 70px;
  -ms-grid-column-align: end;
      justify-self: end;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Multimedia_li {
  width: 93px;
  height: 23px;
  margin-top: 10px;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Multimedia_li .Multimedia_a:hover {
  opacity: 0.3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Multimedia_li .Multimedia_a:active {
  opacity: 0.2;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Interactive_li {
  margin-top: 10px;
  width: 150px;
  height: 23px;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Interactive_li .interactive_a:hover {
  opacity: 0.3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Interactive_li .interactive_a:active {
  opacity: 0.2;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Branding_li {
  margin-top: 10px;
  width: 77px;
  height: 23px;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Branding_li .Branding_a:hover {
  opacity: 0.3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service1 .Branding_li .Branding_a:active {
  opacity: 0.2;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .creative_li {
  width: 129.3px;
  height: 23px;
  margin-top: 10px;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .creative_li .creative_a:hover {
  opacity: 0.3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .creative_li .creative_a:active {
  opacity: 0.2;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .Packaging_li {
  width: 88px;
  height: 28px;
  margin-top: 10px;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .Packaging_li .packaging_a:hover {
  opacity: 0.3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .Packaging_li .packaging_a:active {
  opacity: 0.2;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .Coding_li {
  width: 59px;
  height: 23px;
  margin-top: 10px;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .Coding_li .Coding_a:hover {
  opacity: 0.3;
}
.grid_contanier1_main .grid_contanier2_main .ul_main_box .ul_service2 .Coding_li .Coding_a:active {
  opacity: 0.2;
}

.Multimedia_a, .interactive_a, .Branding_a, .creative_a, .packaging_a, .Coding_a {
  text-decoration: none;
  color: #111111;
}

.grid_contanier3_awards {
  grid-column: 1/-1;
  grid-row: 11/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
  grid-template-columns: repeat(15, 1fr);
  -ms-grid-rows: (1fr)[10];
  grid-template-rows: repeat(10, 1fr);
  margin: auto;
}

.grid_contanier3_awards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(23) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(24) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(25) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(26) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(27) {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(28) {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(29) {
  -ms-grid-row: 2;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(30) {
  -ms-grid-row: 2;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(41) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(42) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(43) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(44) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(45) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(46) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(47) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(48) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(49) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(50) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(51) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(52) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(53) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(54) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(55) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(56) {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(57) {
  -ms-grid-row: 4;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(58) {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(59) {
  -ms-grid-row: 4;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(60) {
  -ms-grid-row: 4;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(61) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(62) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(63) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(64) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(65) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(66) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(67) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(68) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(69) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(70) {
  -ms-grid-row: 5;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(71) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(72) {
  -ms-grid-row: 5;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(73) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(74) {
  -ms-grid-row: 5;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(75) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(76) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(77) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(78) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(79) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(80) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(81) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(82) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(83) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(84) {
  -ms-grid-row: 6;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(85) {
  -ms-grid-row: 6;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(86) {
  -ms-grid-row: 6;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(87) {
  -ms-grid-row: 6;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(88) {
  -ms-grid-row: 6;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(89) {
  -ms-grid-row: 6;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(90) {
  -ms-grid-row: 6;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(91) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(92) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(93) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(94) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(95) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(96) {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(97) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(98) {
  -ms-grid-row: 7;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(99) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(100) {
  -ms-grid-row: 7;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(101) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(102) {
  -ms-grid-row: 7;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(103) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(104) {
  -ms-grid-row: 7;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(105) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(106) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(107) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(108) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(109) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(110) {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(111) {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(112) {
  -ms-grid-row: 8;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(113) {
  -ms-grid-row: 8;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(114) {
  -ms-grid-row: 8;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(115) {
  -ms-grid-row: 8;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(116) {
  -ms-grid-row: 8;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(117) {
  -ms-grid-row: 8;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(118) {
  -ms-grid-row: 8;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(119) {
  -ms-grid-row: 8;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(120) {
  -ms-grid-row: 8;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(121) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(122) {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(123) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(124) {
  -ms-grid-row: 9;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(125) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(126) {
  -ms-grid-row: 9;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(127) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(128) {
  -ms-grid-row: 9;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(129) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(130) {
  -ms-grid-row: 9;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(131) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(132) {
  -ms-grid-row: 9;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(133) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(134) {
  -ms-grid-row: 9;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(135) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.grid_contanier3_awards > *:nth-child(136) {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(137) {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(138) {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(139) {
  -ms-grid-row: 10;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(140) {
  -ms-grid-row: 10;
  -ms-grid-column: 5;
}

.grid_contanier3_awards > *:nth-child(141) {
  -ms-grid-row: 10;
  -ms-grid-column: 6;
}

.grid_contanier3_awards > *:nth-child(142) {
  -ms-grid-row: 10;
  -ms-grid-column: 7;
}

.grid_contanier3_awards > *:nth-child(143) {
  -ms-grid-row: 10;
  -ms-grid-column: 8;
}

.grid_contanier3_awards > *:nth-child(144) {
  -ms-grid-row: 10;
  -ms-grid-column: 9;
}

.grid_contanier3_awards > *:nth-child(145) {
  -ms-grid-row: 10;
  -ms-grid-column: 10;
}

.grid_contanier3_awards > *:nth-child(146) {
  -ms-grid-row: 10;
  -ms-grid-column: 11;
}

.grid_contanier3_awards > *:nth-child(147) {
  -ms-grid-row: 10;
  -ms-grid-column: 12;
}

.grid_contanier3_awards > *:nth-child(148) {
  -ms-grid-row: 10;
  -ms-grid-column: 13;
}

.grid_contanier3_awards > *:nth-child(149) {
  -ms-grid-row: 10;
  -ms-grid-column: 14;
}

.grid_contanier3_awards > *:nth-child(150) {
  -ms-grid-row: 10;
  -ms-grid-column: 15;
}
.grid_contanier3_awards .divider1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid_contanier3_awards .divider1 .hr_1_awards {
  height: 2px;
}
.grid_contanier3_awards .first_awards {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.grid_contanier3_awards .site_of_day {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.grid_contanier3_awards .site_of_the_day_text {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.grid_contanier3_awards .nested_items4 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 110px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 32px 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .nested_items4 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items4 > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items4 .nested_item1_4 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid_contanier3_awards .nested_items4 .nested_item2_4 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.grid_contanier3_awards .div_2018_1 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-column: 15/16;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.grid_contanier3_awards .div_2018_1 .date_2018_1 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .Best_navigation {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.grid_contanier3_awards .nested_items5 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 110px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 32px 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .nested_items5 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items5 > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items5 .nested_item1_5 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid_contanier3_awards .nested_items5 .nested_item2_5 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.grid_contanier3_awards .div_2018_2 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-column: 15/16;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}
.grid_contanier3_awards .div_2018_2 .text_2018_2 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .divider2 {
  grid-column: 1/-1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}
.grid_contanier3_awards .divider2 .hr_2_awards {
  height: 2px;
}
.grid_contanier3_awards .second_awards {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.grid_contanier3_awards .site_of_day2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}
.grid_contanier3_awards .site_of_day2 .site_of_day2_text {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.grid_contanier3_awards .nested_items6 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11/12;
  -ms-grid-row: 7;
  -ms-grid-row-span: 11;
  grid-row: 7/18;
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 110px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 32px 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .nested_items6 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items6 > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items6 .nested_item1_6 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid_contanier3_awards .nested_items6 .nested_item2_6 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.grid_contanier3_awards .div_2017_1 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-column: 15/16;
  -ms-grid-row: 7;
  -ms-grid-row-span: 11;
  grid-row: 7/18;
}
.grid_contanier3_awards .div_2017_1 .text_2017 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .Best_navigation2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.grid_contanier3_awards .nested_items7 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 110px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 32px 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .nested_items7 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .nested_items7 > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid_contanier3_awards .div_2016 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-column: 15/16;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}
.grid_contanier3_awards .div_2016 .text_2016 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}
.grid_contanier3_awards .divider3 {
  grid-column: 1/-1;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}
.grid_contanier3_awards .divider3 .hr_3_awards {
  height: 2px;
}

.footer_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  width: 1110px;
  height: 100px;
  margin: 0px auto;
}

.footer_container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer_container > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.footer_container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.footer_container .footer_nav {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr 2fr 1fr;
  grid-template-columns: 6fr 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.footer_container .footer_nav > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer_container .footer_nav > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.footer_container .footer_nav > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer_container .footer_nav > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.footer_container .footer_nav .footer_svg {
  width: 90px;
  height: 19px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.footer_container .footer_nav .ul_footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.footer_container .footer_nav .ul_footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer_container .footer_nav .ul_footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.footer_container .footer_nav .ul_footer .li1_footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.footer_container .footer_nav .ul_footer .li1_footer .footer_projects_a:hover {
  opacity: 0.3;
}
.footer_container .footer_nav .ul_footer .li1_footer .footer_projects_a:active {
  opacity: 0.2;
}
.footer_container .footer_nav .ul_footer .li2_footer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.footer_container .footer_nav .ul_footer .li2_footer .footer_contact_a:hover {
  opacity: 0.3;
}
.footer_container .footer_nav .ul_footer .li2_footer .footer_contact_a:active {
  opacity: 0.2;
}
.footer_container .footer_nav .icon_div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column: 4/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  gap: 15px;
}
.footer_container .footer_nav .icon_div > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer_container .footer_nav .icon_div > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer_container .footer_nav .icon_div > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.footer_container .footer_nav .icon_div > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.footer_container .footer_nav .icon_div .fa-dribbble {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #000;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer_container .footer_nav .icon_div .fa-dribbble .fa-dribbble:hover {
  opacity: 0.8;
}
.footer_container .footer_nav .icon_div .fa-dribbble .fa-dribbble:active {
  opacity: 0.4;
}
.footer_container .footer_nav .icon_div .fa-instagram {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #000;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer_container .footer_nav .icon_div .fa-instagram .fa-instagram:hover {
  opacity: 0.8;
}
.footer_container .footer_nav .icon_div .fa-instagram .fa-instagram:active {
  opacity: 0.4;
}
.footer_container .footer_nav .icon_div .fa-twitter {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #000;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer_container .footer_nav .icon_div .fa-twitter .fa-twitter:hover {
  opacity: 0.8;
}
.footer_container .footer_nav .icon_div .fa-twitter .fa-twitter:active {
  opacity: 0.4;
}

.footer_projects_a, .footer_contact_a {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.35px;
  /*or -6.3% */
  color: #111111;
  text-decoration: none;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/*# sourceMappingURL=index.css.map */