body {
  max-width: 1360px;
  width: 100%;
  min-height: 3840px;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid_container_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 96px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 23px 96px 1960px;
  grid-template-rows: 23px 1960px;
  width: 1109px;
  height: 369px;
  margin: auto;
  gap: 96px;
}

.grid_container_header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_container_header > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_container_header > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_child1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 23px;
  grid-template-rows: 23px;
}

.grid_child1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_child1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.navbar {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 23px;
}

.navbar > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.navbar > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.top_logo {
  margin: 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 90.13px;
  height: 19.34px;
}

.top_ul_home {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link_top_projects, .link_top_contact {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #111111;
  text-decoration: none;
}

.link_top_projects {
  margin-right: 29px;
}

.info_box {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 1fr 1fr;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 251px;
}

.info_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.info_box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.info_box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.info_box > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.info_box > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.info_box > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.info_box > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.info_box > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.info_box > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.info_box > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.info_box > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.info_box > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.title_header {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #4A4FF2;
  width: 173px;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.42px;
}

.h1 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  width: 635px;
  height: 191px;
  margin: 0px;
}

.span1 {
  color: #4A4FF2;
}

.quote_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 9px 1fr;
  grid-template-columns: 30px 1fr;
  -ms-grid-rows: 1fr 9px 2px 9px 23px 9px 23px;
  grid-template-rows: 1fr 2px 23px 23px;
  grid-column: 3/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  gap: 9px;
}

.quote_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.quote_box > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.quote_box > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.quote_box > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.quote_box > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

span {
  margin: 0px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.quote_hr {
  width: 30px;
  height: 2px;
  color: #111111;
  margin: 0px;
}

.quote_text {
  width: 207px;
  height: 23px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: italic;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.grid_contanier1_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1960px;
  grid-template-rows: 1960px;
  width: 1110px;
  height: 1960px;
  margin: 0px auto;
  gap: 20px;
}

.grid_contanier1_main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier1_main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_contanier1_main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.nested_items1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 413px 20px 475px 20px 475px 20px 537px;
  grid-template-rows: 413px 475px 475px 537px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  gap: 20px;
  height: 1960px;
}

.nested_items1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items1 > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.nested_items1 > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.nested_items1 > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.nested_items2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 351px 20px 413px 20px 537px 20px 599px;
  grid-template-rows: 351px 413px 537px 599px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 1/-1;
  gap: 20px;
  height: 1960px;
}

.nested_items2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items2 > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.nested_items2 > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.nested_items2 > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.nested_items3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 599px 20px 413px 20px 537px 20px 351px;
  grid-template-rows: 599px 413px 537px 351px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: 1/-1;
  gap: 20px;
  height: 1960px;
}

.nested_items3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items3 > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.nested_items3 > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.nested_items3 > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid_contanier2_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 635px 444px;
  grid-template-columns: 635px 444px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: 1079px;
  height: 106px;
  margin: 0px auto;
}

.grid_contanier2_main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier2_main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.info_box_main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.title_main {
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #111111;
  width: 635px;
  height: 106px;
  margin: 0px;
}

.ul_main_box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 70px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.ul_main_box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ul_main_box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ul_service1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.ul_service2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.Multimedia_li {
  width: 93px;
  height: 23px;
  margin-top: 10px;
}

.Interactive_li {
  margin-top: 10px;
  width: 150px;
  height: 23px;
}

.Branding_li {
  margin-top: 10px;
  width: 77px;
  height: 23px;
}

.Multimedia_a, .Interactive_a, .Branding_a, .creative_a, .Packaging_a, .Coding_a {
  text-decoration: none;
  color: #111111;
}

.creative_li {
  width: 129.3px;
  height: 23px;
  margin-top: 10px;
}

.Packaging_li {
  width: 88px;
  height: 28px;
  margin-top: 10px;
}

.Coding_li {
  width: 59px;
  height: 23px;
  margin-top: 10px;
}

.grid_contanier3_awards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 474px 285px 311px 1fr;
  grid-template-columns: 474px 285px 311px 1fr;
  -ms-grid-rows: 40px 110px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 110px 1fr 1fr 1fr 1fr 1fr;
  background-color: red;
  width: 1110px;
  height: 823px;
  margin: auto;
}

.grid_contanier3_awards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(19) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(20) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(21) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(22) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(23) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(24) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.grid_contanier3_awards > *:nth-child(25) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid_contanier3_awards > *:nth-child(26) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.grid_contanier3_awards > *:nth-child(27) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid_contanier3_awards > *:nth-child(28) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.divider1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.first_awards {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.site_of_day {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.site_of_the_day_text {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 0px;
}

hr {
  margin: 0px;
  color: #979797;
}

.nested_items4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 110px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 32px 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}

.nested_items4 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items4 > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.nested_item1_4 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.nested_item2_4 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.date_2028_1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}

.Best_navigation {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100px;
  height: 100px;
}

.nested_items5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 110px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 32px 1fr;
  grid-template-rows: 32px 1fr;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
}

.nested_items5 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nested_items5 > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.nested_item1_5 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.nested_item2_5 {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.date_2018_2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
/*# sourceMappingURL=index.css.map */